/* SAOUI-Bold */
@font-face {
  font-family: SAOUI-Bold;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SAOUI-Bold.otf') format('opentype');
}

/* SAOUI-Regular */
@font-face {
  font-family: SAOUI-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SAOUI-Regular.otf') format('opentype');
}

/* SAOUITT-Bold */
@font-face {
  font-family: SAOUITT-Bold;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SAOUITT-Bold.ttf') format('truetype');
}

/* SAOUITT-Regular */
@font-face {
  font-family: SAOUITT-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SAOUITT-Regular.ttf') format('truetype');
}

/* SAOWelcome-Bold */
@font-face {
  font-family: SAOWelcome-Bold;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SAOWelcome-Bold.otf') format('opentype');
}

/* SAOWelcome-Regular */
@font-face {
  font-family: SAOWelcome-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SAOWelcome-Regular.otf') format('opentype');
}

/* SAOWelcomeTT-Bold */
@font-face {
  font-family: SAOWelcomeTT-Bold;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SAOWelcomeTT-Bold.ttf') format('truetype');
}

/* SAOWelcomeTT-Regular */
@font-face {
  font-family: SAOWelcomeTT-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SAOWelcomeTT-Regular.ttf') format('truetype');
}

/* 全体のフォント適用 */
html,
body {
  font-family: SAOUI-Regular, SAOUI-Bold, SAOUITT-Regular, SAOWelcome-Regular, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border-color-default: #eee;
  --font-color-default: #336;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.5s;
}

::-webkit-scrollbar-track:hover {
  background: #8883;
}

::-webkit-scrollbar-thumb {
  background: #8885;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8887;
}
