.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-height: 100vh;
  padding: 40px 16px;
  background-color: #000;
  background-image: radial-gradient(white, rgb(255 255 255 / 20%) 2px, transparent 40px),
    radial-gradient(white, rgb(255 255 255 / 15%) 1px, transparent 30px),
    radial-gradient(white, rgb(255 255 255 / 10%) 2px, transparent 40px),
    radial-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 10%) 2px, transparent 30px);
  background-attachment: fixed;
  background-position:
    0 0,
    40px 60px,
    130px 270px,
    70px 100px;
  background-size:
    550px 550px,
    350px 350px,
    250px 250px,
    150px 150px;
  animation: backgroundMove 60s linear infinite;
}

@keyframes background-move {
  0% {
    background-position:
      0 0,
      40px 60px,
      130px 270px,
      70px 100px;
  }

  100% {
    background-position:
      550px 550px,
      590px 610px,
      680px 820px,
      620px 650px;
  }
}

.mixContainer {
  display: grid;
}

.title {
  margin-bottom: 40px;
  font-family: 'Exo 2', sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgb(255 255 255 / 70%);
  animation: glowingTitle 2s ease-in-out infinite alternate;
}

@keyframes glowing-title {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #0ff,
      0 0 35px #0ff;
  }

  to {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #0ff,
      0 0 70px #0ff;
  }
}

@media (width <= 768px) {
  .title {
    font-size: 36px;
  }
}

.resetButton {
  position: relative;
  padding: 12px 20px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #0ff;
  border: none;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.resetButton::before {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  content: '';
  background: rgb(255 255 255 / 20%);
  transition: all 0.3s ease;
  transform: rotate(45deg);
}

.resetButton:hover::before {
  left: 100%;
}

.resetButton:hover {
  background-color: #40ffff;
  box-shadow: 0 5px 15px rgb(0 255 255 / 40%);
  transform: translateY(-2px);
}

.resetButton:active {
  background-color: #0cc;
  transform: translateY(0);
}

.resetButton:disabled {
  cursor: not-allowed;
  background-color: rgb(255 255 255 / 10%);
}
